
/* Estilo geral da pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    /*Aqui estou aplicando uma imagem de fundo para a pag nao ficar sem vida */
    color: #ffffff;
    background-color: #000;
}

.interface {
    max-width: auto;
    margin: 0 auto;
}


/* Estilo do header*/
header {
    background-color: #000;
    padding: 10px 2%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.logo-academy {
    width: 18%;
    padding-left: 2%;
}

/* MAIN */

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
}

.curso {
    margin: auto;
    background-color: #000;
    padding-bottom: 20px;
}

.curso-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.conteudo-titulo {
    font-size: 40px;
    text-align: center;
    color: #F4F27E;
}

.conteudo-intro-1 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 50px;
}

.conteudo-intro-2 {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.curso-conteudo-chamada {
    font-size: 50px;
    padding-bottom: 20px;
    color: #fffffff;
    font-weight: 800;   
    text-align: center; 
}

.conteudo-enfase {
    color: #F4F27E;
}


.curso-conteudo-txt-1 {
    padding-top: 2%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 500;  
    text-align: center;
}

.curso-conteudo-txt-2 {
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 500;  
    text-align: center;
}

.curso-conteudo-txt-3 {
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 30px;
    padding-bottom: 50px;
    font-weight: 500;  
    text-align: center;
}

.main-mid {
    background-image: url("assets/images/barber.jpg");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.sobre-mim {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 3%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background: rgba(0, 0, 0, 0.90);
}


.sobre-mim-conteudo {
    font-size: 30px;
}

.sobre-mim-titulo {
    padding-bottom: 20px;   
    color: #F4F27E;
}

.sobre-mim-txt {
    padding: 0.5%;
    font-weight: 700;
}

.foto-perfil {
    padding: 1%;
}

.foto-eric-boneti{
    width: 400px;
    border-radius: 30px;
}


.modulos {
    display: flex;    
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    padding-bottom: 5%;
    gap: 30px;

}

.modulo-1 {
    padding: 3%;
    font-size: 20px; 
    background: rgba(0, 0, 0, 0.95);
    border-radius: 30px; 
}

.modulo-2 {
    padding: 3%;
    font-size: 20px; 
    background: rgba(0, 0, 0, 0.95);
    border-radius: 30px;
}

.modulo-3 {
    padding: 3%;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.95);
    border-radius: 30px;   
}

.modulo-titulo {
    padding-bottom: 5px;
    color: #F4F27E; 
}

.modulo-subtitulo {
    padding-bottom: 10px;
    padding-top: 10px;
}

.modulo-txt {
    padding: 2%;
    padding-left: 8%;
    font-weight: 500;
}

/* MAIN - BONUS FINAL */
.curso {
    margin: auto;
    background-size: 100%;
    padding-bottom: 20px;
}

.curso-bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bonus-txt-title {
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 1%;
}

.bonus-txt {
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 50px;
}

.bonus-alta {
    font-weight: 800;
    color: #F4F27E;
}

.bonus-destaque {
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 40px;
}

.bonus-txt-final-1 {
    font-size: 30px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    font-weight: 600;  
    text-align: center;
}

.bonus-txt-final-2 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 30px;
}


/* FOOTER */
.footer {
    display: flex;
    padding: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #000;
}

.footer-copy {
    color: #FFF2E7;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
}

.footer-autor {
    color: #FFF2E7;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}
