
/* Estilo geral da pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    /*Aqui estou aplicando uma imagem de fundo para a pag nao ficar sem vida */
    background-image: url("assets/images/barber.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffffff;
}

.interface {
    max-width: auto;
    margin: 0 auto;
}


/* Estilo do header*/
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.logo-academy {
    width: 20%;
    padding-left: 2%;
}

/* MAIN */

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sobre-mim {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 3%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin: 5%;
    background: rgba(0, 0, 0, 0.90);
}


.sobre-mim-conteudo {
    font-size: 30px;
}

.sobre-mim-titulo {
    padding-bottom: 20px;   
    color: #F4F27E;
}

.sobre-mim-txt {
    padding: 0.5%;
    font-weight: 700;
}

.foto-perfil {
    padding: 1%;
}

.foto-eric-boneti{
    width: 400px;
    border-radius: 30px;
}


.modulos {
    display: flex;    
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    padding-bottom: 5%;
    gap: 30px;

}

.modulo-1 {
    padding: 3%;
    font-size: 20px; 
    background: rgba(0, 0, 0, 0.95);
    border-radius: 30px; 
}

.modulo-2 {
    padding: 3%;
    font-size: 20px; 
    background: rgba(0, 0, 0, 0.95);
    border-radius: 30px;
}

.modulo-3 {
    padding: 3%;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.95);
    border-radius: 30px;   
}

.modulo-titulo {
    padding-bottom: 5px;
    color: #F4F27E; 
}

.modulo-subtitulo {
    padding-bottom: 10px;
    padding-top: 10px;
}

.modulo-txt {
    padding: 2%;
    padding-left: 8%;
    font-weight: 500;
}

.bonus {
    margin: auto;
    padding-bottom: 2%;
}

.modulo-bonus {
    color: #F4F27E;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    background: rgba(0, 0, 0, 0.85);
    border-radius: 30px;  
}


/* FOOTER */
.footer {
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #000;
}

.footer-copy {
    color: #FFF2E7;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
}

.footer-autor {
    color: #FFF2E7;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}

.footer-txt {
    color: #FFF2E7;
    font-size: 12px;
}